@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

:root { /*Fonts*/
    font-size: 16px;
    --font: 'Rubik', sans-serif;
}
:root { /*Border*/
    --rounding: 30px;
}
:root {
    --dark-mode-purple: #9E00CF;
    --dark-mode-hover: #B000E6;
}